production一覧ページです
<% @production.each do |production| %>
  <div>Title</div>
  <div><%= link_to production.title, production_path(production.id) %></div>
  <div>Introduction</div>
  <div><%= production.introduction %></div>
 <% end %>