production詳細ページです
<div>Title</div>
<div><%= @production.title %></div>
<div>Introduction</div>
<div><%= @production.introduction %></div>
<% if @production.customer == current_customer %>
  <%= link_to "edit", edit_production_path(@production.id) %>
  <%= link_to "delete", production_path(@production), method: :delete %>
<% end %>