<div class="row my-4 mx-auto">
  <div class="col-12">
    <h4 class="text-center my-3 mx-4">フォロワーリスト</h3>
  </div>
</div>
<% if @customers.exists? %>
  <%= render 'public/customers/index', customers: @customers %>
<% else %>
  <h6 class="text-center">ユーザーはいません</h6>
<% end %>