<div class="jumbotron">
  <div class="container">
    <p class="top-text text-muted bg-dark.bg-opacity-25 text-center">
      Architec-Photoにようこそ！<br>
      ここは、建築学生・建築を目指す人の為のSNSサイトです。<br>
      主に大学や専門学校で取り組んだ課題の作品を投稿してください。<br>
      フォロー機能、いいね機能、お気に入り機能、コメント機能もあるので、<br>
      気に入った作品を気軽に共有しましょう。<br>
      ログインなしでも作品の閲覧が可能です。<br>
    </p>
  </div>
</div>