/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


/*header,footer*/

 .navbar-toggler {
  background-color: #f0f8ff;
 }

 .navbar-toggler-icon {
  background-color: #000000;
 }

 .login-message {
  color: #ffffff;
 }

 li {
  list-style: none;
 }


/*トップページ*/
 .jumbotron {
  background-image: image-url("topback.jpg");
  background-position: center center;
  background-size: cover;
  height: 700px;
 }

/*マイページ*/
 .plofile_image {
  border-radius: 50%;
 }
 .production_image {
  border-radius: 20px;
  width: 50%;
  height: 50%;
 }
 .index_image {
  width: 90%;
 }

/*投稿詳細*/
 .comment_form {
  width: 100%;
 }

/*投稿一覧*/
 .production-box {
  width: 30%;
  border: 1px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
 }

/*ボタン 投稿一覧*/
 .button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #000000;
  text-align: center;
 }

 .inline-block{
  display:inline-block;
 }

 /*赤いハート*/
 .heart_red{color:#e54747;}
 /*青いハート*/
 .heart_blue{color:#528fff;}
 /*グレースター*/
 .star-icon1{color:#808080;}
 /*黄色スター*/
 .star-icon2{color:#ffa500;}

 /*ページネーションバー*/
 .pagination {
  justify-content: right;
  margin-right: 10%;
 }

 /*swiper*/
 .swiper-slide img,
 .production-image {
  width: calc(100% + 30px);
  margin: 0 -15px;
 }

 /* swiperページネーション */
.swiper-pagination {
 color: fffff0;
}