/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

/*font*/
 body {
 font-family: 'Noto Sans', sans-serif;
 font-size: 14px;
 background-color: #eeeeee;
 }

/*header,footer*/
 .navbar-toggler {
  background-color: #f0f8ff;
 }
 .navbar-toggler-icon {
  background-color: #000000;
 }
 .login-message {
  color: #ffffff;
 }
 li {
  list-style: none;
 }

/*トップページ*/
 .jumbotron {
  background-image: image-url("topback.jpg");
  background-position: center center;
  background-size: cover;
  height: 700px;
  font-size: medium;
  background-color: ffa500;
 }

/*マイページ*/
 .plofile_image {
  border-radius: 50%;
 }

/*投稿詳細*/
 .comment_form {
  width: 100%;
 }

/*投稿一覧*/
 .production-box {
  border: 1px solid black;
  margin-bottom: 20px;
  box-sizing: border-box;
 }

/*ボタンタグ 投稿一覧*/
 .button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #000000;
  text-align: center;
 }
/*マイページ編集完了ボタン位置*/
 .withdraw {
 display: block;
 text-align: right;
 }
/*フォロー一覧ページ*/
 .follow-box {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
 }

/*create login signup comment*/
 .btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
 }
 .btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
 }
/*edit follow*/
 .btn-create {
  border: 2px solid #000;
  border-radius: 0;
  background: #8fbc8f;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
 }
 .btn-create:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
 }
/*削除系*/
 .btn-delete {
  border: 2px solid #000;
  border-radius: 0;
  background: #f0c0cb;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
 }
 .btn-delete:hover {
  -webkit-box-shadow: -4px -4px 0 #000;
  box-shadow: -4px -4px 0 #000;
 }


 /*赤いハート*/
 .heart_red{color:#e54747;}
 /*青いハート*/
 .heart_blue{color:#528fff;}
 /*グレースター*/
 .star-icon1{color:#808080;}
 /*黄色スター*/
 .star-icon2{color:#ffa500;}

 /*ページネーションバー*/
 .pagination {
  justify-content: right;
  margin-right: 10%;
 }

 /*swiper*/
 .swiper-slide img,
 .production-image {
  width: calc(100% + 30px);
  margin: 0 -15px;
 }

 /* swiperページネーション */
.swiper-pagination {
 color: fffff0;
}

/*画像サイズ*/
 .button a img {
  width: 100%;
 }

/*長い文は...表示*/
 .card-text,.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 }
/*作品説明のみ改行反映*/
 .form {
  white-space: pre-wrap;
  text-align: left;
 }
 /*投稿ない場合の文字*/
 h6{
  text-align: center;
 }