<% if @production.errors.any? %>
  <div class="alert-message">
    <ul>
      <% @production.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>