<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand p-3" href="/productions"><%= image_tag('logo.png')%></a>
      <%= flash[:notice] %>
    </div>
  </nav>
</header>